.form-border {
  border: 1px solid #c9c9c9;
  border-radius: var(--tui-radius-m);
  padding: var(--tui-padding-l);
  margin: 1.25rem auto;
}
.tui-container {
  align-items: center;
  width: 40%;
  height: 100%;
}

.tui-text_h3 {
  margin: 1rem 0;
}
