.tui-container {
  padding: 0 6rem;
}

.image-placeholder {
  display: flex;
  background-color: var(--tui-base-02);
  height: 400px;
  align-items: center;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 12px;
}
